<!doctype html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <title>Flask-MVC</title>
    </head>
    <body>
        <a style="text-align:center" href="{{ url_for('admin.printer') }}">Home</a>
        <a style="text-align:center" href="http://ratapp.co.ke">About</a>
        <div class="page">
            <h1>Flask MVC Boilerplate</h1>
            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            {% macro render_error(field) %}
                {% if field.errors %}
                    {% for error in field.errors %}<span class='error'>{{ error }}</span>{% endfor %}
                {% endif %}
            {% endmacro %}
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
